<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Candidate Details</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr>
            <td th:text="${candidate.id}"></td>
            <td th:text="${candidate.fullname}"></td>
            <td th:text="${candidate.email}"></td>
            <td th:text="${candidate.phone}"></td>
        </tr>
</body>
</html>