<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
    <title>Title</title>
</head>
<body>
    <h1>Candidates</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.id}"></td>
            <td th:text="${candidate.fullname}"></td>
            <td th:text="${candidate.email}"></td>
            <td th:text="${candidate.phone}"></td>
            <td>
                <a th:href="@{/candidate/detail/{id}(id=${candidate.id})}">Details</a>
            </td>
        </tr>
</body>
</html>