<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List candidate have experience grater than 5 year</h1>
    <table >
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.fullname}"></td>
            <td th:text="${candidate.email}"></td>
            <td th:text="${candidate.phone}"></td>
        </tr>
    </table>
</body>
</html>